* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 8vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

header > img {
    height: 200px;
}

.login {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    gap: 2px;
    right: 1vw;
}

.login > input {
    border: none;
    border-bottom: 1px solid black;
    align-items: center;
}

.login > button {
    height: 20px;
}

/* parte do rodapé */
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}

.rede-social {
    display: flex;
}

.img-redesocial {
    margin-right: 10px;
}
