* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

header {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background: #fff;
    z-index: 1;
    padding: 10px 20px;
}

header > .nav-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
}

header > nav {
    margin-left: 20px;
}

header > .nav-left > nav  a {
    text-transform: uppercase;
    font-family: sans-serif;
    padding: 5px 10px;
}

header > .nav-left > nav a + a {
    margin-left: 10px;
}

header > .nav-left > nav a, header > .nav-left > nav a:visited,
header > .nav-left > nav a:active {
    color: #000;
    text-decoration: none;
}

header > .nav-left > nav a:hover {
    color: white;
    background: #FF5C5C;
}

header > .nav-left > img {
    height: 80px;
}

header > .login > button {

}

button, a {
    cursor: pointer;
}

button:hover{
    height: 55px;
}

.login {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    text-align: right;
}

.login input {
    border: none;
    border-bottom: 1px solid black;
    align-items: center;
}

.login button {
    height: 20px;
}

/* parte do rodapé  Fernanda*/
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}

.rede-social {
    display: flex;
}

.img-redesocial {
    margin-right: 10px;
}
/* parte da main Fernanda */

.conteudo {
    display: grid;
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    border-radius: 8px;
    background-color: #e2e2e2;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    padding: 0 15px;
}

.carro1:hover {
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, 0.5));
}

.carro-luxo {
    margin-top: 90px;
}

.carro-luxo:hover {
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, 0.5));
}

.carro-luxo2 {
    margin-top: 90px;
}

.carro-luxo2:hover {
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, 0.5));
}

.carro2 {
    margin-left: 149px;
    margin-top: 50px;
}

.carro2:hover {
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, 0.5));
}

.texto1 {
    text-align: center;
}

.texto2 {
    text-align: center;
}

.texto3 {
    text-align: center;
}

.conteudo2 {
    display: grid;
    grid-template-columns: 1fr;
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    border-radius: 8px;
    background-color: #e2e2e2;
    padding: 0 15px;
}

.foto-patio {
    margin-left: 400px;
    margin-top: 15px;
}

.titulo3 {
    text-align: center;
    margin-top: 15px;
}

main {
    display: flex;
}

main .conteudo, main .conteudo2,
main .conteudo3 {
    padding-top: 100px;
}

.conteudo3 {
    display: grid;
    grid-template-columns: 1fr;
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    border-radius: 8px;
    background-color: #e2e2e2;
    padding: 0 15px;
}

.aplicativo {
    margin-top: 70px;
}

.aplicativo:hover {
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, 0.5));
}

.texto4 {
    margin-left: 102px;
    display: flex;
}

.google-play {
    margin-top: 50px;
    margin-left: 93px;
}

@media screen and (max-width: 630px) {

    header {
        flex-direction: column;
    }

    header > .nav-left {
        flex-direction: column;
    }

    header > .nav-left > img {
        margin-bottom: 40px;
    }

    header > .nav-left, header > .login {
        width: 100%;
        margin-bottom: 40px;
    }

    main .conteudo, main .conteudo2,
    main .conteudo3 {
        padding-top: 300px;
    }
}

@media screen and (min-width: 631px) and (max-width: 1030px) {

    header {
        flex-direction: column;
    }

    header > .nav-left, header > .login {
        width: 100%;
        margin-bottom: 40px;
    }

    main .conteudo, main .conteudo2,
    main .conteudo3 {
        padding-top: 200px;
    }
}
