* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 8vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

header > button {
    border: 1px solid black;
    color: rgba(233, 113, 77, 0.952);
    font-size: 25px;
    border-radius: 5px;
    background-color: #e2e2e2;
    transition: 1s;
    height: 45px;
    width: 250px;
    display: flex;
    align-items: center;
}

button:hover{
    height: 55px;
    width: 300;
}

header > img {
    height: 200px;
}

.login {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    gap: 2px;
    right: 1vw;
}

.login > input {
    border: none;
    border-bottom: 1px solid black;
    align-items: center;
}

.login > button {
    height: 20px;
}

/* parte do rodapé  Fernanda*/
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    margin-top: 100%;
}

.rede-social {
    display: flex;
}

.img-redesocial {
    margin-right: 10px;
}
/* parte da main Fernanda */

.conteudo {
    display: grid;
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    border-radius: 8px;
    background-color: #e2e2e2;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    padding: 15px;
}

.carro1:hover {
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, 0.5));
}
.carro-luxo {
    margin-top: 90px;
}
.carro-luxo:hover {
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, 0.5));
}
.carro-luxo2 {
    margin-top: 90px;
}

.carro-luxo2:hover {
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, 0.5));
}
.carro2 {
    margin-left: 149px;
    margin-top: 50px;
}

.carro2:hover {
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, 0.5));
}
.texto1 {
    text-align: center;
}
.texto2 {
    text-align: center;
}
.texto3 {
    text-align: center;
}

.conteudo2 {
    display: grid;
    grid-template-columns: 1fr;
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    border-radius: 8px;
    background-color: #e2e2e2;
    padding: 15px;
}
.foto-patio {
    margin-left: 400px;
    margin-top: 15px;
}
.titulo3 {
    text-align: center;
    margin-top: 15px;
}
main {
    display: flex;
}
.conteudo3 {
    display: grid;
    grid-template-columns: 1fr;
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    border-radius: 8px;
    background-color: #e2e2e2;
    padding: 15px;
}
.aplicativo {
    margin-top: 70px;
}
.aplicativo:hover {
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, 0.5));
}
.texto4 {
    margin-left: 102px;
    display: flex;
}
.google-play {
    margin-top: 50px;
    margin-left: 93px;
}
